name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version: latest
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm build
        env:
          ANTHROPIC_KEY: ${{ secrets.ANTHROPIC_KEY }}
          CEREBRAS_KEY: ${{ secrets.CEREBRAS_KEY }}
          CROFAI_KEY: ${{ secrets.CROFAI_KEY }}
          EXA_KEY: ${{ secrets.EXA_KEY }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          GROQ_KEY: ${{ secrets.GROQ_KEY }}
          MISTRAL_KEY: ${{ secrets.MISTRAL_KEY }}
          OBSERVABILITY_URL: ${{ secrets.OBSERVABILITY_URL }}
          OPENROUTER_FREE_KEY: ${{ secrets.OPENROUTER_FREE_KEY }}
      - name: Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_COSINEHQ }}
          channelId: live
          projectId: cosinehq
      - name: Monoserve
        uses: KTibow/monoserve/deploy@main
        with:
          config-broker-url: "https://config-broker.ktibow.workers.dev"
